#ClockContainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background: url(img.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 25%;
    top: 25.4%;
    left: 49%;
    opacity: 0.8;
}
#minute{
    width: 1.5%;
    height: 35.5%;
    top: 15%;
    left: 49.217%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 45.5%;
    top: 5%;
    left: 49.47%;
    opacity: 0.8;
}